[submodule ".config/zsh/plugins/bwf"]
	path = .config/zsh/plugins/bwf
	url = https://git.phlipphlop.me/phlipphlop/bwf.git
[submodule ".config/zsh/plugins/fuzzy-sys"]
	path = .config/zsh/plugins/fuzzy-sys
	url = https://github.com/NullSense/fuzzy-sys.git
[submodule ".config/zsh/plugins/powerlevel10k"]
	path = .config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/plugins/zsh-histdb"]
	path = .config/zsh/plugins/zsh-histdb
	url = https://github.com/larkery/zsh-histdb.git
[submodule ".config/zsh/plugins/zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/tmux/plugins/nord-tmux"]
	path = .config/tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
[submodule ".config/tmux/plugins/tmux-open"]
	path = .config/tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".config/tmux/plugins/tmux-continuum"]
	path = .config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".config/tmux/plugins/tmux-pain-control"]
	path = .config/tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule ".config/tmux/plugins/tmux-sessionist"]
	path = .config/tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
