[Unit]
Description=Run daily backup to raspberry pi

[Timer]
OnCalendar=daily
RandomizedDelaySec=7200
Persistent=true

[Install]
WantedBy=basic.target
