[Unit]
Description=Starts i3lock
Before=suspend.target
Before=lock.target
Before=sleep.target

[Service]
User=philipj
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=i3lock

[Install]
WantedBy=suspend.target
WantedBy=lock.target
WantedBy=sleep.target
